<suite name="Suite" parallel="none">
 	<test name="FirefoxTest">
 		<parameter name="browser" value="firefox" />
 		<classes>
 			<class name="MyAccount" />
 		</classes>
 	</test>
 	<test name="ChromeTest">
 		<parameter name="browser" value= "chrome" />
 		<classes>
 			<class name="MyAccount" />
 		</classes>
 	</test>
 	
 	<test name="EdgeTest">
 		<parameter name="browser" value= "edge" />
 		<classes>
 			<class name="MyAccount" />
 		</classes>
 	</test>
</suite>
